In [6]:
# importing Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [7]:
# loading and reading dataset
df_train = pd.read_csv("Bangla Emotion Dataset.csv")
df_train.head()

,ID,Data,Love,Joy,Surprise,Anger,Sadness,Fear,Topic,Domain
0,5454,লকাল বাস ভালো এটা থেকে,0,0,0.0,0.0,1,0,Travel,Youtube
1,22549,কত অভিজানই তো চলে কিন্তু ওয়াসার পানির অভিজান ক...,0,0,0.0,0.0,1,0,Politics,Youtube
2,7033,বিয়ের মহল ছেড়ে তিনি বিস্রাম নিতে চলে যান (৬ ...,0,0,0.0,1.0,0,0,Personal,Facebook
3,21114,চাচাজি তো কেবল মাকে ধর্ষণ করেছেন,0,0,0.0,0.0,1,0,Education,Facebook
4,23683,সত্যিকার মানুষ তারাই ভাই,0,1,0.0,0.0,0,0,Personal,Youtube

In [8]:
df_train.shape

(20651, 10)